.not-displayed {
    display: none;
}


#error-msg {
    text-align: center;
    margin-top: 50%;
    font-weight: bold;
}

#app-title {
    font-size: 18px;
}

#app-footer {
    background-color: white;
    font-size: 20px;
}

#btnOverview, #btnHistory, #btnHome {
    color: white;
    background-color: black;
    
}
