.not-displayed {
    display: none;
}

hr {
    height: 1px;
    border-color: black;
    margin: 5px;
    background-color: black;
}

#error-msg {
    text-align: center;
    margin-top: 50%;
    font-weight: bold;
}

#app-footer {
    font-size: 20px;
}

.account, .transaction {
    background-color: #EDEDED;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.transaction {
    margin-bottom: 10px;
}

.transaction-details {
    height: 22px;
}

.account-name, .account-balance {
    text-align: right;
    font-weight: normal;
}

